* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 10000px;
  height: 10000px;
}

.wrap {
  width: 10000px;
  height: 1000px;
  background: rgb(112, 195, 206);
  position: relative;
}
.heart1 {
  position: absolute;
  background-color: green;
  width: 100px;
  height: 100px;
  left: 400px;
  top: 150px;
}
.heart2 {
  position: absolute;
  background-color: hotpink;
  width: 100px;
  height: 100px;
  left: 600px;
  top: 150px;
}
.heart3 {
  position: absolute;
  background-color: tomato;
  width: 100px;
  height: 100px;
  top: 250px;
  left: 500px;
}
.heart4 {
  position: absolute;
  background-color: yellow;
  width: 100px;
  height: 100px;
  top: 250px;
  left: 300px;
}
.heart5 {
  position: absolute;
  background-color: wheat;
  width: 100px;
  height: 100px;
  top: 250px;
  left: 700px;
}
.heart6 {
  position: absolute;
  background-color: teal;
  width: 100px;
  height: 100px;
  top: 350px;
  left: 280px;
}
.heart7 {
  position: absolute;
  background-color: brown;
  width: 100px;
  height: 100px;
  top: 350px;
  left: 720px;
}
.heart8 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  top: 450px;
  left: 350px;
}
.heart9 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: palevioletred;
  top: 450px;
  left: 650px;
}
.heart10 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: plum;
  top: 550px;
  left: 420px;
  z-index: 20;
}
.heart11 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: purple;
  top: 550px;
  left: 580px;
  z-index: 20;
}
.heart12 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: violet;
  top: 600px;
  left: 500px;
  z-index: 10;
}
.fixed {
  position: fixed;
  background-color: tomato;
  width: 300px;
  height: 200px;
  left: 400px;
  top: 0;
  z-index: 9999;
}
/* 왜 저밑에 있는거지요 */
.sticky {
  position: sticky;
  background-color: yellow;
  width: 300px;
  height: 200px;
  left: 400px;
  top: 100px;
}
