* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: auto;
}

header {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 999999999;
}

.logo {
  color: #666666;
  height: 100%;
}

.logo a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #666666;
}

.gnb {
  width: 500px;
  height: 100%;
  display: flex;
}

.gnb ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.gnb ul li {
  width: 31%;
  height: 100%;
  margin-left: 5px;
  padding: 20px;
}

.gnb ul li a:hover {
  border: 2px solid #666;
}

.gnb ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #666;
  transition: 0.2s;
}
/* mainb WORK */

.mainb {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 10px;
}
.mainb img {
  width: 100%;
  height: 100%;
}
.lombok {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lombok h2 {
  font-size: 100px;
  color: #333;
  letter-spacing: 15px;
}

.lombok span {
  font-size: 40px;
  font-weight: 300px;
  position: relative;
}

.lombok div {
  margin: 10px;
  border-bottom: 3px solid #777;
  width: 120px;
  height: 1px;
}
