* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: auto;
}

header {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 999999999;
}

.logo {
  color: #666666;
  height: 100%;
}

.logo a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #666666;
}

.gnb {
  width: 500px;
  height: 100%;
  display: flex;
}

.gnb ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.gnb ul li {
  width: 31%;
  height: 100%;
  margin-left: 5px;
  padding: 20px;
}

.gnb ul li a:hover {
  border: 2px solid #666;
}

.gnb ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #666;
  transition: 0.2s;
}
/* mainb WORK */

.mainb {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 10px;
}
.mainb img {
  width: 100%;
  height: 100%;
}
.lombok {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lombok h2 {
  font-size: 100px;
  color: #333;
  letter-spacing: 15px;
}

.lombok span {
  font-size: 40px;
  font-weight: 300px;
  position: relative;
}

.lombok div {
  margin: 10px;
  border-bottom: 3px solid #777;
  width: 120px;
  height: 1px;
}

.articles {
  width: 100%;
  height: auto;
  padding: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.articles h3 {
  font-size: 28px;
  margin-bottom: 7px;
}

.articles .ub {
  width: 100px;
  height: 3px;
  background-color: #777;
}

.article-w {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.article-w article {
  width: 340px;
  height: 450px;
}

.art-img1,
.art-img2,
.art-img3 {
  width: 340px;
  height: 225px;
}

.art-text1,
.art-text2,
.art-text3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 340px;
  height: 225px;
  background-color: #fff;
}

.art-img1 img,
.art-img2 img,
.art-img3 img {
  width: 100%;
  height: 100%;
}

.art-text1 .ub1,
.art-text2 .ub2,
.art-text3 .ub3 {
  width: 100px;
  height: 3px;
  background-color: #666;
  margin-bottom: 20px;
}

.art-text11,
.art-text22,
.art-text33 {
  margin-bottom: 13px;
}

.about {
  display: flex;
  width: 100%;
  height: 800px;
}

.about-img {
  width: 50%;
  height: 100%;
  background: tomato;
}

.about-img img {
  width: 100%;
  height: 100%;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 0 100px;
}

.about_text {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-ub1 {
  width: 50px;
  height: 4px;
  background: #666;
  margin-bottom: 32px;
}

.about-text p {
  font-size: 20px;
  line-height: 40px;
}

/* ABOUT 완료 */

.business {
  width: 100%;
  height: 500px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe h3 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.subscribe span {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
}

.form-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-text,
.form-submit {
  display: block;
}

.form-text {
  margin-bottom: 20px;
  width: 320px;
  height: 32px;
  padding: 15px;
}

.form-submit {
  font-size: 32px;
  width: 60px;
  padding: 100px;
}

footer {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-icon i {
  font-size: 24px;
  margin: 0 5px;
}

.btn-icon i:hover {
  cursor: pointer;
}

.addres {
  display: block;
  margin: 10px;
  margin-right: 20px;
  line-height: 40px;
}

.good {
  font-size: 40px;
  font-weight: bold;
}
